@using App.Resources.App.Domain.Movie
@using Base.Resources
@model WebApp.Areas.Authorized.ViewModels.UserRatingCreateEditVM

<div class="form-group">
    <label asp-for="UserRating.Rating" class="control-label">@UserRating.Rating</label>
    <input asp-for="UserRating.Rating" class="form-control"/>
    <span asp-validation-for="UserRating.Rating" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UserRating.Comment" class="control-label">@UserRating.Comment</label>
    <input asp-for="UserRating.Comment" class="form-control"/>
    <span asp-validation-for="UserRating.Comment" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UserRating.MovieDetailsId" class="control-label">@UserRating.MovieDetails</label>
    <select asp-for="UserRating.MovieDetailsId" class="form-control" asp-items="Model.MovieDetailsSelectList">
        <option value="wrongData">--- @Common.SelectMovie ----</option>
    </select>
</div>