@model App.Public.DTO.v1.Subscription

@{
    ViewData["Title"] = "Create";
}
@if (User.IsInRole("admin") || User.IsInRole("moderator"))
{
    <h1>Create</h1>

    <h4>Subscription</h4>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="_CreateEdit" model="Model"/>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h4 class="alert-danger">@Base.Resources.Common.Unauthorized</h4>
    <p class="alert-danger">@Base.Resources.Common.NoRights</p>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}