@model App.Domain.AgeRating

<div class="form-group">
    <label asp-for="Naming" class="control-label"></label>
    <input asp-for="Naming" class="form-control"/>
    <span asp-validation-for="Naming" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AllowedAge" class="control-label"></label>
    <input asp-for="AllowedAge" class="form-control"/>
    <span asp-validation-for="AllowedAge" class="text-danger"></span>
</div>