@model App.Domain.Cast.CastRole

@{
    ViewData["Title"] = "Details";
}

<h1>@Base.Resources.Common.Details</h1>

<div>
    <h4>CastRole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naming)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Base.Resources.Common.Edit</a> |
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>
