@using App.Resources.App.Domain.Profile
@using Base.Resources
@model WebApp.Areas.Admin.ViewModels.ProfileMovieCreateEditVM

<div class="form-group">
    <label asp-for="ProfileMovie.UserProfileId" class="control-label">@ProfileMovie.UserProfile</label>
    <select asp-for="ProfileMovie.UserProfileId" class="form-control" asp-items="Model.UserProfileSelectList">
        <option value="wrongData">--- @Common.SelectUserProfile ----</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="ProfileMovie.MovieDetailsId" class="control-label">@ProfileMovie.MovieDetails</label>
    <select asp-for="ProfileMovie.MovieDetailsId" class="form-control" asp-items="Model.MovieDetailsSelectList">
        <option value="wrongData">--- @Common.SelectMovie ---</option>
    </select>
</div>