@using Base.Resources
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @Common.Menu
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @if (User.IsInRole("admin") || User.IsInRole("user"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="Amenities" asp-action="Index">Amenities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="ApartAmenities" asp-action="Index">Apartments Amenities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="Houses" asp-action="Index">Houses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="Apartments" asp-action="Index">Apartments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="ApartInHouses" asp-action="Index">Apartments in Houses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="ApartPictures" asp-action="Index">Apartments Pictures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="ApartRents" asp-action="Index">Apartments Rents</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="Billings" asp-action="Index">Billings</a>
            </li>*@
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="FixedServices" asp-action="Index">Fixed Tariff Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="MonthlyServices" asp-action="Index">Monthly Tariff Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="Persons" asp-action="Index">Renters Database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="Pictures" asp-action="Index">Pictures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="RentFixedServices" asp-action="Index">Rent Fixed Tariff Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Authorized" asp-controller="RentMonthlyServices" asp-action="Index">Rent Monthly Tariff Services</a>
            </li>
        }
        @if (User.IsInRole("admin"))
        {
        }
    </ul>
</li>