@model WebApp.Areas.Admin.ViewModels.ProfileFavoriteMovieCreateEditVM

<div class="form-group">
    <label asp-for="ProfileFavoriteMovie.UserProfileId" class="control-label"></label>
    <select asp-for="ProfileFavoriteMovie.UserProfileId" class ="form-control" asp-items="Model.UserProfileSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="ProfileFavoriteMovie.MovieDetailsId" class="control-label"></label>
    <select asp-for="ProfileFavoriteMovie.MovieDetailsId" class ="form-control" asp-items="Model.UserProfileSelectList"></select>
</div>
