@model App.Domain.CastRole

<div class="form-group">
    <label asp-for="Naming" class="control-label"></label>
    <input asp-for="Naming" class="form-control"/>
    <span asp-validation-for="Naming" class="text-danger"></span>
</div>